altgraph==0.17.3
autopep8==2.0.2
click==8.1.3
colour==0.1.5
dnspython==2.3.0
importlib-metadata==6.6.0
Jinja2==3.1.2
MarkupSafe==2.1.2
opencolorio==2.2.1
pycodestyle==2.10.0
pyinstaller==5.11.0
pyinstaller-hooks-contrib==2023.3
pymongo==4.3.3
PyQt5==5.15.9
pyqt5-plugins==5.15.9.2.3
PyQt5-Qt5==5.15.2
PyQt5-sip==12.12.1
pyqt5-tools==5.15.9.3.3
python-dotenv==0.21.1
qt-material==2.14
qt5-applications==5.15.2.2.3
qt5-tools==5.15.2.1.3
shotgun-api3==3.3.5
tomli==2.0.1
typing-extensions==3.10.0.2
zipp==3.15.0